<% user_link = link_to @user.username, user_path(@user.username).html_safe %>
<%= render 'shared/header', header: user_link %>

<div class="col-xs-6 col-xs-offset-3">
  <h3 class="text-center">Your Latest Tweets</h3>
  <ul>
    <% @user.statuses.each do |status| %>
      <li class="well"><%= status.body %></li>
    <% end %>
  </ul>
  <p class="text-center">
    <%= link_to "New Tweet", new_status_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>
